<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KC house Price Prediction</title>
</head>

    <style>
    body {
      background-image: url('house.jpg');
    }
    </style>    

    <h1> KC house Price Prediction </h1>
    <form method="GET" action="/house_price">


        <!-- <label>date:</label>
        <input type = "text" name = "date">
        </select> -->

        <br>
        <br>

        <label>bedrooms:</label>
        <input type = "text" name = "bedrooms">
        </select>

        <br>
        <br>

        <label>bathrooms:</label>
        <input type = "text" name = "bathrooms">
        </select>

        <br>
        <br>

        <label>sqft_living:</label>
        <input type = "text" name = "sqft_living">
        </select>

        <br>
        <br>

        <label>sqft_lot:</label>
        <input type = "text" name = "sqft_lot">
        </select>

        <br>
        <br>

        <label>floors:</label>
        <input type = "text" name = "floors">
        </select>

        <br>
        <br>

        <label>waterfront:</label>
        <input type = "text" name = "waterfront">
        </select>

        <br>
        <br>

        <label>view:</label>
        <input type = "text" name = "view">
        </select>

        <br>
        <br>

        <label>condition:</label>
        <input type = "text" name = "condition">
        </select>

        <br>
        <br>

        <label>grade:</label>
        <input type = "text" name = "grade">
        </select>

        <br>
        <br>

        <label>sqft_above:</label>
        <input type = "text" name = "sqft_above">
        </select>

        <br>
        <br>

        <label>sqft_basement:</label>
        <input type = "text" name = "sqft_basement">
        </select>

        <br>
        <br>

        <label>yr_built:</label>
        <input type = "text" name = "yr_built">
        </select>

        <br>
        <br>

        <label>yr_renovated:</label>
        <input type = "text" name = "yr_renovated">
        </select>

        <br>
        <br>

        <label>zipcode:</label>
        <input type = "text" name = "zipcode">
        </select>

        <br>
        <br>

        <label>lat:</label>
        <input type = "text" name = "lat">
        </select>

        <br>
        <br>

        <label>long:</label>
        <input type = "text" name = "long">
        </select>

        <br>
        <br>

        <label>sqft_living15:</label>
        <input type = "text" name = "sqft_living15">
        </select>

        <br>
        <br>

        <label>sqft_lot15:</label>
        <input type = "text" name = "sqft_lot15">
        </select>

        <br>
        <br>

        <input type = "submit" value="SUBMIT">

        <br>

        <h4><strong>House price prediction according to inputs will be <b> {prediction} /- Rs.</b> Only </strong></h4>


    </form>

</body>
</html>
                   